@model WebEnacal2.Models.Canino

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Canino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCanino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCanino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadCanina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadCanina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
